
name: Build and deploy

on:
  push:
    branches:
      - master

concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: |
          pip install beautifulsoup4
          yarn install --immutable

      - name: Generate Markdown
        run: |
          python3 tiku.py mg
          python3 tiku.py my
          python3 tiku.py sg

      - name: Build Pages
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |
          yarn run build

      - name: Upload Page artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: src/.vuepress/dist

      - name: Upload Markdown artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Markdown
          path: |
            src/banks/*.md
            !src/banks/README.md

  Deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: Build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2